# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Borjan Gjorovski\Projects\Coding\Other\idea-bag-solutions\newtonian-gravity-simulation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
