# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.roman-number-generator.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Borjan Gjorovski\Projects\Coding\Other\idea-bag-solutions\roman-number-generator\.idea\.idea.roman-number-generator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
